/* Quitar flechas en todos los navegadores */
input[type="number"] {
    -webkit-appearance: none;  /* Chrome, Safari, Edge */
    -moz-appearance: textfield; /* Firefox */
    appearance: none;          /* estándar */
    margin: 0;                 /* opcional, limpia espaciado */

    border: none;
    background: transparent;
    font-family: inherit;
    outline: none;
}

/* Chrome, Safari, Edge: quita flechas internas incluso al hacer foco */
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.error {
    font-size: 12px;
    min-height: 1em; /* reserva espacio */
    display: block;
    margin-top: 5px; /* o el espacio que quieras */
    color: red; /* para visualizar el error */
}


input[type="text"] {
    -webkit-appearance: none;  /* Chrome, Safari, Edge */
    -moz-appearance: textfield; /* Firefox */
    appearance: none;          /* estándar */
    margin: 0;                 /* opcional, limpia espaciado */

    border: none;
    background: transparent;
    font-family: inherit;
    outline: none;

    display: table-cell;
    padding: 8px;
    width: 100%;
    text-align: left;
    vertical-align: middle;
    white-space: normal;
}

#ecuacionBaseImponible,
#baseImponible {
    white-space: pre-line;
    line-height: 1.4;
}
table {
    display: table;
    width: 90%;
    table-layout: fixed;
    align-items: center;
    margin: 0 auto;

    font-family: 'Inter', sans-serif;
}

thead {
    display: table-header-group;
}

tbody {
    display: table-row-group;
}

tfoot {
    display: table-footer-group;
    
}

tr {
    display: table-row;
}

td{
    display: table-cell;
    padding: 8px;
    width: 100%;
    text-align: left;
    vertical-align: middle;
    white-space: normal;
}

th{
    display: table-cell;
    padding: 8px;
    width: 100%;
    text-align: center;
    vertical-align: middle;
    white-space: normal;
    background-color: rgb(85, 21, 43);
    color: white
}

thead tr:nth-child(2) th {
    color: white;
    background-color:  rgb(125, 28, 61);;
}

#sar-isr thead th:nth-child()

#baseImponibleISR {
    display: none;
    color: green;
    font-weight: bold;
    margin-top: 6px;
}

#isr{
    white-space: pre-wrap;
}