/* Quitar flechas en inputs number */
input[type="number"] {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: textfield;

    border: none;
    background: transparent;
    font-family: inherit;
    outline: none;
    margin: 0;
}

/* Chrome, Safari, Edge */
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Input texto */
input[type="text"] {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: textfield;

    border: none;
    background: transparent;
    font-family: inherit;
    outline: none;

    width: 100%;
    padding: 8px;
    text-align: left;
}

.error {
    font-size: 12px;
    min-height: 1em;
    margin-top: 5px;
    color: red;
    display: block;
}

table {
    width: 90vw;
    margin: 0 auto;
    table-layout: fixed;
    font-family: 'Inter', sans-serif;
    border-collapse: collapse;
}

thead {
    border-bottom: 4px solid #4A4B40;
}

tbody {
    border: 1px solid #4A4B40;
}

td, th {
    padding: 8px;
    font-size: clamp(0.8em, 0.9em, 1em);
    vertical-align: middle;
    white-space: normal;
}

td {
    text-align: left;
}

th {
    text-align: center;
    background-color: rgb(85, 21, 43);
    color: white;
}

td input {
    width: 100%;
    box-sizing: border-box;
    font-size: inherit;
    padding: 4px;
    border: none;
    outline: none;
}

thead tr:nth-child(2) th {
    background-color: rgb(125, 28, 61);
}

thead tr:nth-child(3) th {
    background-color: rgb(175, 78, 110);
}

#ecuacionBaseImponible,
#baseImponible {
    white-space: pre-line;
    line-height: 1.4;
}

#isr {
    white-space: pre-wrap;
}

#baseImponibleISR {
    display: none;
    color: green;
    font-weight: bold;
    margin-top: 6px;
}

#sar-isr {
    width: 90vw;
    margin: 0 auto;
}

#sar-isr thead,
#sar-isr tbody {
    font-size: clamp(0.6em, 0.7em, 0.8em);
}

.total {
    background-color: #a7a896;
}

@media (max-width: 768px) {

    table {
        width: 100%;
        font-size: 0.85em;
    }

    th,
    td {
        padding: 14px 10px;   /* 👈 esto hace la tabla “más alta” */
        line-height: 1.6;     /* 👈 más aire vertical */
        white-space: normal;  /* 👈 permite saltos de línea */
        word-break: break-word;
    }

    td input {
        padding: 10px 6px;    /* 👈 inputs más altos */
        font-size: 1em;
    }

    thead th {
        text-align: center;
    }
}