body{
    font-family: 'Inter', sans-serif;
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilos de la portada */
#portada{
    position: relative;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background-image:
        linear-gradient(
    to top,
    rgba(255,255,255,1) 0%,
    rgba(255,255,255,0.7) 10%,
    rgba(255,255,255,0.4) 30%,
    rgba(255,255,255,0) 100%
    ),
        url('../images/Portada-mjconsultoria.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    text-align: center;
}

#portada img{
    width: 50vw;
    height: auto;
    margin-bottom: 1vh;
}

#portada .line{
    width: 60vw;
    height: 0.5vh;
    background-color: rgba(125, 28, 61, 30);
    margin: 0.5vh 0;
}
#portada p{
    font-size: 1.5em;
    font-family: 'Cinzel', serif;
    margin: 1vh 0;
    color: #4A4B40;
}

#layout{
    display: grid;
    grid-template-areas:
    "sidebar header header"
    "content content content"
    "footer footer footer";

    gap: 10px;
    grid-template-columns: auto 1fr 1fr;
    grid-template-rows: auto;
    min-height: 100vh;
    position:relative;
}

#layout header{
    grid-area: header;
    background-color: #ffffff;

    display: grid;                     /* <— aquí */
    grid-template-columns: 1fr auto;   /* contenido / imagen */
    align-items: center;
    padding: 1rem;
}

#layout header img{
    width: 180px;
    height: auto;

    justify-self: end;
    margin-right: 20px;
}

#layout aside{
    grid-area: sidebar;
    background-color: #d3d4b9;
}

