body{
    font-family: 'Inter', sans-serif;
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilos de la portada */
#portada{
    position: relative;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background-image:
        linear-gradient(to top, rgb(218, 218, 218, 3) 0%, rgba(228, 228, 228, 0) 100%),
        url('../images/Portada-mjconsultoria.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    text-align: center;
}

#portada img{
    width: 50vw;
    height: auto;
    margin-bottom: 1vh;
}

#portada .line{
    width: 60vw;
    height: 0.5vh;
    background-color: rgba(125, 28, 61, 30);
    margin: 0.5vh 0;
}
#portada p{
    font-size: 1em;
    margin: 1vh 0;
    color: #000000
}

#portada button {
    margin-top: 2vh;
    padding: 0.8em 2em;
    font-size: 1vw;
    cursor: pointer;
}

